@model PolloVerde.Contexto.tb_pregunta_encuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_pregunta_encuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_pregunta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pregunta_encuesta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
