@model PolloVerde.Contexto.tb_combo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_combo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_combo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_combo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_combo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
