
@{
    ViewBag.Title = "Index";
}

<center><h2>REPORTES POLLO VERDE</h2></center>


<ul>
    <li>
        <a class="btn btn-success" href="/Report/reporteSucursal">Reporte Por Sucursal</a>
    </li>
    <br />

    <li>
        <a class="btn btn-success" href="/Report/reporteRegion">Reporte Por Region</a>
    </li>
    <br />

    <li>
        <a class="btn btn-success" href="/Report/reporteProducto">Reporte Por Tipo Producto</a>
    </li>
    <br />

    <li>
        <a class="btn btn-success" href="/Report/reportePago">Reporte Por Tipo Pago</a>
    </li>
    <br />

    <li>
        <a class="btn btn-success" href="/Report/reporteTopTen">Top Ten Sucursales</a>
    </li>

</ul>
